body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0;
  color: #244D4D;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* --- header ---- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  padding: 2.5em 0;
}
.header__inner {
  width: 91.4285714286%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 1.625rem;
  line-height: 1;
  font-weight: bold;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 1.875em;
}
.nav__active {
  text-decoration: underline;
}

/* index
-------------------------------------------- */
/* --- visual ---- */
.visual {
  background-image: url(../images/bg_hero.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 15.625em 0 8.75em;
}
.visual__inner {
  width: 91.4285714286%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.visual__text {
  max-width: 30em;
  background-color: rgba(250, 250, 250, 0.6);
  padding: 4.0625em 3.75em;
}
.visual__text p {
  font-size: 3rem;
  line-height: 1.2083333333;
  font-weight: bold;
}

/* --- about ---- */
.about {
  margin: 5em 0 7.5em;
}
.about__inner {
  width: 91.4285714286%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.about__title {
  font-size: 3rem;
  line-height: 1.2083333333;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
}
@media screen and (min-width: 740px) {
  .about__list {
    margin-bottom: -3.125em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.about__item {
  padding-bottom: 3.125rem;
}
@media screen and (min-width: 740px) {
  .about__item {
    width: 47%;
  }
}

/* --- post ---- */
.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.post__photo {
  width: 31.25%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 740px) {
  .post__photo {
    width: 42.5531914894%;
    aspect-ratio: 4/3;
  }
}
.post__text {
  width: 65.625%;
}
@media screen and (min-width: 740px) {
  .post__text {
    width: 53.1914893617%;
  }
}
.post__title {
  font-size: 1.5rem;
  line-height: 1.2083333333;
  font-weight: bold;
  margin-bottom: 1.5625rem;
}

/* --- products ---- */
.products {
  margin: 7.5em 0;
}
.products__inner {
  width: 91.4285714286%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.products__title {
  font-size: 3rem;
  line-height: 1.2083333333;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: -3.125em;
}
.products__item {
  width: 46.875%;
  margin-bottom: 3.125em;
}
@media screen and (min-width: 740px) {
  .products__item {
    width: 30%;
  }
}
.products__item .card__photo {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

/* --- card --- */
.card {
  text-align: center;
  background-color: #F4F4F4;
  padding: 2.8125rem 0;
  margin-bottom: 3.125rem;
}
.card__title {
  font-size: 1.5rem;
  line-height: 1.2083333333;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}
.card__text {
  margin-bottom: 1.875rem;
}
.card__photo {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* --- btn --- */
.btn {
  font-weight: bold;
  text-align: center;
  display: block;
  width: 10.3125rem;
  color: #ffffff;
  background-color: #244D4D;
  border-radius: 0.625rem;
  padding: 1.125rem;
  margin-top: 3.75rem;
  margin-left: auto;
  margin-right: auto;
}

/* --- footer --- */
.footer {
  padding: 7.5em 0;
  background-color: #244D4D;
  color: #fff;
}
.footer__inner {
  width: 91.4285714286%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}
.footer__title {
  margin-bottom: 1.0416666667em;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2083333333;
}
.footer__navall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.75em;
}
@media screen and (min-width: 740px) {
  .footer__navall {
    margin-bottom: 0;
  }
}
.footer__nav {
  width: 46.875%;
}
@media screen and (min-width: 740px) {
  .footer__nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 3.75em;
  }
}
.footer__item {
  margin-top: 0.9375em;
}
.footer__info {
  max-width: 15.625em;
}
.footer__info .footer__title {
  margin-bottom: 1.6666666667em;
}
.footer__copy {
  display: inline-block;
  margin-top: 1.6666666667em;
  font-size: 0.75rem;
  line-height: 1.6666666667;
}
/*# sourceMappingURL=style.css.map */