@charset "utf-8";

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.05em;

    color: #1E1E1E;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.inner {
    max-width: 960px;
    width: 76.19%;
    margin-left: auto;
    margin-right: auto;
}



/*     header     */
header {
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;

    margin: 40px 0;
}



/*     main ---top---     */
.top {
    background-image: url(./images/bg_main.png);
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 240px;
    padding-bottom: 80px;
}

.top p {
    font-size: 18px;

    margin-bottom: 30px;
}

.top h2 {
    font-family: serif;
    font-size: 36px;
    line-height: 1.3;
}

.top .title {
    width: fit-content;

    background-color: #ffffff;

    padding: 40px;
}



/*     main ---discussion---     */
.heading p {
    display: inline;

    background-color: #72C9F3;
    color: #ffffff;

    padding: 8px 15px;
}

.heading h2 {
    font-size: 36px;
    line-height: 1.2;

    margin-top: 25px;

    position: relative;
}

.heading h2::before {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 80px;
    height: 1px;
    background-color: #1E1E1E;
}

.heading {
    text-align: center;

    margin-top: 100px;
    margin-bottom: 70px;
}



/*     main ---discussion   content---     */
.content p {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;

    padding: 20px 0;
}








@media(min-width:640px) {

    /*     main ---top---     */
    .top {
        background-image: url(./images/bg_main.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding-top: 240px;
        padding-bottom: 80px;
    }
}